html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;  
}
.pict-with-plant{
    width: 300px;
    border: 1px dotted red;
    box-shadow: 30px 20px 10px #555;
    margin: auto auto;
}